*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F8F9FA;
}

header {
    background-color: #FFFFFF;
    border-bottom:solid ;
    border-color: #0000001A;
    border-bottom-width: 1px;
}

.bg-class-info {
    width: 1728px;
    height: 28px;
    background-color: #1A73E8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 224px;
    padding-right: 224px;
}

.contact-info {
    max-width: 1280px;
    width: 1280px;
    height: 16px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    position: relative;
}

.city {
    width: 156px;
    height: 16px;
    position: absolute;
    padding: 0;
    left: 0;
    gap: 6px;
    align-items: center;
    padding-bottom: 2px;
}

.city-text {
    width: 141px;
    height: 16px;
    color: #FFFFFF;
    padding: 0;
    margin:0;
    display: inline-block;
}

.city-text-p {
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}

.map-icon {
    width: 11px;
    height: 11px;
    display: inline-block;
}

.more-info {
    width: 373.010009765625px;
    height: 16px;
    gap: 16.01px;
    right: 0;
    display: inline-block;
    position: absolute;
}

.contact {
    width: 160px;
    height: 16px;
    font: arial;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 0;
    margin:0;
    display: inline-block;
}

.free {
    display: inline-block;
    width: 197px;
    height: 16px;
    font-family: Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    letter-spacing: 0;
    color: #FFFFFF;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

.beli-mudah {
    width: 1728px;
    height: 64px;
    max-width: 1728px;
    padding-left: 224px;
    padding-right: 224px;
    gap: 16px;
    position: relative;
}

.logo-b {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #1A73E8;
    position: absolute;
    top: 13px;
    color: #FFFFFF;
    display: inline-block;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

.beli-mudah-text {
    width: 80px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 258px;
}

.beli-mudah-p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #111827;
}

.container-form {
    width: 576px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 368px;
}

.form {
    width: 576px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid #0000001A;
    background-color: #F3F4F6;
    position: relative;
}

.input-form {
    width: 100%; 
    height: 100%;  
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 56px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #111827;
}

.input-form::placeholder {
    color: #9CA3AF;
    font-weight: 400;
}

.button-form {
    width: 44px;   
    height: 36px;
    background-color: #1A73E8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 2px;   
    right: 3px;         
    text-align: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.menu-container {
    width: 240px;
    height: 40px;
    position: absolute;
    top: 12px; 
    left: 960px; 
}

.bell-container {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px; 
    display: inline-block;
    vertical-align: middle;
}

.bell-icon {
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

.profile {
    width: 100px; 
    height: 40px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 40px; 
    text-align: left;
    margin-right: 0;
}

.profile-icon {
    width: 20px; 
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px; 
}

.name-text-container {
    display: inline-block;
    vertical-align: middle;
    width: 55px;    
    height: 40px; 
}

.name-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;      
    color: #111827;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.love-container {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}

.love-icon {
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

.cart-container {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}

.cart-icon {
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

nav {
    width: 1728px;
    height: 40px;
    border-top: 1px solid #0000001A;
    text-align: center;
}

.navbar-container {
    display: inline-block;
    width: 1280px;
    text-align: left;
    padding: 0 16px;
}

.category-container {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

.humberger-icon, .arrow-icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
}

.category-text-container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 ;
}

.category-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #111827;
}

.electronic-container {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    margin-left: 35px;
}

.electronic-icon-container {
    width: 14px;
    height: 20px;
    display: inline-block;
}

.electronic-icon-span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    display: inline-block;
}

.electronic-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    display: inline-block;
    color: #6B7280;
}

.electronic-text-container {
    display: inline-block;
    margin-left: 3px;
}

.main {
    width: 1728px;
    height: 3659.25px;
    top: 134px;
    padding-bottom: 48px;
    gap: 48px;
}

.purple-section {
    width: 1728px;
    height: 420px;
    padding-left: 224px;
    padding-right: 224px;
    height: 420px;
    background: linear-gradient(to right, #4F39F6 864px, #8200DB 864px);
    position: relative;
}

.pilihan-img {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 864px;
    opacity: 60%;
}

.all-item-container {
    width: 1280px;
    height: 420px;
    max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
    position: absolute;
    left: 224px;
}

.section-item-container {
    width: 512px;
    height: 239px;
    max-width: 512px;
    max-height: 512px;
    gap: 16px;
    position: absolute;
    top: 90px;
}

.section-title {
    width: 475px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    line-height: 50px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.title-description {
    width: 476px;
    height: 59px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.25px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFFCC;
}

.button {
    width: 163px;
    height: 48px;
    border: none;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 8px;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.lihat-promo {
    width: 91px;
    height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1A73E8;
}

.arrow-right {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.bottom-slide {
    width: 56px;
    height: 8px;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    left: 840px;
}

.left-button {
    background-color: #FFFFFF80;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.middle-button {
    background-color: #FFFFFF80;
    width: 24px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.right-button {
    background-color: #FFFFFF80;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 16777200px;
}

.round-left-button {
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    border: none;
    background-color: #FFFFFF33;
    position: absolute;
    top: 190px;
    left: 15px;
}

.round-arrow-left {
    vertical-align: middle;
}

.round-right-button {
    width: 40px;
    height: 40px;
    border-radius: 16777200px;
    border: none;
    background-color: #FFFFFF33;
    position: absolute;
    top: 190px;
    right: 15px;
}

.round-arrow-right {
    vertical-align: middle;
}

.shop-category-section {
    width: 1280px;
    height: 192px;
    max-width: 1280px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 24px;
    position: absolute;
    left: 224px;
    margin-top: 40px;
}

.head-category-container {
    width: 1248px;
    height: 30px;
}

.belanja-berdasarkan {
    width: 282px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #111827;
    font-weight: bold;
}

.lihat-semua {
    width: 100px;
    height: 20px;
    gap: 4px;
    position: absolute;
    right: 12px;
    text-decoration: 0;
}

.lihat-semua-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1A73E8;
}

.right-arrow-category {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.category-selection {
    width: 1248px;
    height: 138px;
    margin-top: 20px;
}

.electronic-category {
    width: 198px;
    height: 138px;
    border-radius: 12px;
    border: solid 1px #0000001A;
    padding: 16px;
    gap: 8px;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-left: 8px;
}

.electronic-category-1 {
    width: 198px;
    height: 138px;
    border-radius: 12px;
    border: solid 1px #0000001A;
    padding: 16px;
    gap: 8px;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.electronic-img {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: block;
    margin: 0 auto 12px;
}

.elctronic-text {
    width: 56px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #111827;
}

.electronic-product {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6B7280;
}